*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 4px;
    justify-content: center;
    margin: 4%;
}
.card img{
    border-radius: 50%;
}
.card{
    background-color: #023047;
    height: 300px;
    border-radius:20px;
    display: grid;
    place-items: center;
    gap: 4px;
}
.card h2{
    text-align: center;
    color: white;
}
.card p {
    text-align: center;
    color: white;
}
#popin{
    display: none;
}
.card{
    cursor: pointer;
}

#popin{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px gray;
    background-color: #023047;
    height: 300px;
    width: 500px;
    border-radius:20px;
    color: white;
}
#popinContent{
    display: grid;
    place-items: center;
    gap: 4px;
}
